# --------------------------------------------------
# Virtual Environment
# --------------------------------------------------

venv/

# --------------------------------------------------
# Python
# --------------------------------------------------

__pycache__/
*.py[cod]
*$py.class

# --------------------------------------------------
# Logs
# --------------------------------------------------

logs/
*.log

# --------------------------------------------------
# Database
# --------------------------------------------------

database/cyberguard.db

# --------------------------------------------------
# Generated Reports
# --------------------------------------------------

reports/*.pdf

# --------------------------------------------------
# IDE
# --------------------------------------------------

.vscode/
.idea/

# --------------------------------------------------
# Operating System
# --------------------------------------------------

.DS_Store
Thumbs.db

# --------------------------------------------------
# Environment Variables
# --------------------------------------------------

.env

# --------------------------------------------------
# Pytest / Coverage (Future Safe)
# --------------------------------------------------

.pytest_cache/
.coverage
htmlcov/

# --------------------------------------------------
# Miscellaneous
# --------------------------------------------------

*.tmp